::selection {
    background: rgba(0, 204, 175, .5);
}
::-moz-selection {
    background: rgba(0, 204, 175, .5);
}
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #252526;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
.wrapper {
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.wrapper h1 {
    font-family: 'Bevan', cursive;
    color: #fff;
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 3em;
}
.wrapper h3 {
    color: #fff;
    font-size: 1em;
    margin-bottom: .2em;
}
.wrapper code {
    font-size: 1em;
    background-color: whitesmoke;
    padding: .2em 8px;
}
.wrapper em {
    color: #fff;
    margin-top: 3em;
}
.wrapper pre {
    font-size: 1.5em;
    background-color: #1E1E1E;
    color: #D4D4D4;
    padding: 1.5em 24px;
}
.wrapper pre .type {
    color: #00CCAF;
}
.wrapper pre .func {
    color: #DCDDA4;
}
.wrapper pre .var {
    color: #89DEFF;
}
.wrapper pre .keyword {
    color: #D082C4;
}
.wrapper pre .const {
    color: #AECFA4;
}
.wrapper pre .oper {
    color: #3B9DDB;
}
.wrapper pre .str {
    color: #D88E73;
}
@media screen and (max-width: 400px) {
    body {
        height: auto;
        font-size: 6px;
    }
    .wrapper pre {
        font-size: 1em;
    }
}